version: '3.8'

services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: etl_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d etl_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  etl_app:
    build: .
    container_name: etl_container
    depends_on:
      db:
        condition: service_healthy 
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_NAME=etl_db